table {
  width: 100%;
  border: 1px solid black;
  height: 100%;
  text-align: center;
  margin:auto;
}
th, td {
  padding: 15px;
  text-align: center;
  border-bottom: 1px solid black;
}

tr:nth-child(even) {background-color: #f2f2f2;}

h1 {
  text-align: center;
}
