#status{
  font-weight: bold;
  text-align: right;
  margin-right: 20px;
}

.mat-card-actions{
  display: flex;
  justify-content: center;
}

.pending{
  color: red;
}

.delivering{
  color: gold;
}

.delivered{
  color: green;
}
