.container {
  padding-top: 50px;
  padding-bottom: 10px;
  color: #405065;
}

mat-toolbar {
  background-color: #405065;
}

.search-hero {
  max-width: 800px;
  max-height: 300px;
  padding-bottom: 50px;
  margin:auto;
}

.search-bar { background-color: #222; }
.search-bar * { color: white !important; }
.search-bar input { border-bottom-color: white; }
